@model Projeto.GestaoProjetos.Models.Skill

@{
    ViewBag.Title = "ExcluirSkill";
}

<h3 class="text-danger">Tem certeza que deseja remover esta skill?</h3>

<div>  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IDSKILL)
        <div class="form-actions no-color">
            <input type="submit" value="Sim, excluir!" class="btn btn-danger" /> 
            @Html.ActionLink("Não, voltar para lista!", "ListarSkills", "Colaboradores", new { @class="btn btn-info" })
        </div>
    }
</div>
